@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Mountains+of+Christmas:wght@700&display=swap');

/* -------- Default styles ---------- */

:root{
  --colorPrincipal: rgb(195, 40, 40);
  --Defaultborder: 1px dashed rgb(242, 234, 234);
  --DefaultShadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

h1, h2, h3{
  color: var(--colorPrincipal);
}


@media screen and (max-width: 768px){
    
}

/* -------- Default styles ---------- */


/* -------- Navegacion ---------- */


/* -------- Navegacion ---------- */

/* -------- Hero ---------- */

/* -------- Hero ---------- */

/* -------- Biografía ---------- */

/* -------- Biografía ---------- */

/* -------- Sobre Nosotros ---------- */

/* -------- Sobre Nosotros ---------- */

/* -------- galeria ---------- */

/* -------- galeria ---------- */

/* -------- servicios ---------- */

/* -------- servicios ---------- */

/* -------- testimonios ---------- */

.testimonial {
  position: relative;
  margin: 45px 0;
  padding: 90px 0;
  background: var(--colorPrincipal);
}

.testimonial .container {
  max-width: 900px;
}

.testimonial .testimonial-icon {
  margin-bottom: 45px;
  text-align: center;
}

.testimonial .testimonial-icon i {
  font-size: 60px;
  color: rgba(256, 256, 256, .5);
}

.testimonial .testimonial-item {
  position: relative;
  margin: 0 15px;
  text-align: center;
}

.testimonial .testimonial-img {
  position: relative;
  margin-bottom: 15px;
  z-index: 1;
}

.testimonial .testimonial-item img {
  margin: 0 auto;
  width: 120px;
  padding: 10px;
  border: 5px dotted #ffffff;
  border-radius: 100px;
}

.testimonial .testimonial-text {
  position: relative;
  margin-top: -70px;
  padding: 65px 35px 30px 35px;
  text-align: center;
  background: #ffffff;
  border-radius: 500px;
}

.testimonial .testimonial-item p {
  font-size: 18px;
  font-style: italic;
}

.testimonial .testimonial-text h3 {
  color: var(--colorPrincipal);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.testimonial .testimonial-text h4 {
  color: #666666;
  font-size: 14px;
  margin-bottom: 0;
}

.testimonial .owl-dots {
  margin-top: 15px;
  text-align: center;
}

.testimonial .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(256, 256, 256, .5);
}

.testimonial .owl-dot.active {
  background: #ffffff;
}

/* -------- testimonios ---------- */

/* -------- contacto ---------- */

/* -------- contacto ---------- */

/* -------- footer ---------- */

footer{
    background: var(--colorPrincipal);
    padding: 20px;
    color: #fff;
}

footer p{
    text-align: center;
}

/* -------- footer ---------- */