@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mountains of Christmas', cursive;
}

:root{
    --colorPrincipal: rgb(195, 40, 40);
}

/* -------- Navegacion ---------- */

.navegacion__principal{
    background: var(--colorPrincipal);
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.navegacion__principal h1{
    color: #fff;
    font-family: 'Mountains of Christmas', cursive;
}

.navegacion__principal ul li{
    list-style: none;
}

.navegacion__principal ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
    margin: 20px;
}

/* -------- Navegacion ---------- */